html {
  color: #222222;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

a, a:visited {
  color: #2d81c9;
}

header {
  height: 48px;
  background-image: url(static/header-bg.png);
}

h1 {
  margin: 0 0 8px;
  font-size: 48px;
  text-align: center;
}

h1 + p {
  margin: 0 0 88px;
  text-align: center;
}

h2 {
  margin-top: 64px;
  margin-bottom: 24px;
  font-size: 24px;
}

h3 {
  margin: 24px 0 16px 32px;
  font-size: 16px;
}

h4 {
  margin: 24px 0 16px 50px;
  font-size: 16px;
}

main {
  margin: 64px auto 88px;
  max-width: 960px;
}

p, ul {
  margin-left: 32px;
  font-size: 16px;
  line-height: 1.7;
}

ul {
  padding-left: 0;
}

li {
  position: relative;
  padding-left: 20px;
  list-style: none;
}

li:before {
  display: block;
  content: ' ';
  position: absolute;
  left: 0;
  top: 12px;
  border-radius: 4px;
  width: 4px;
  height: 4px;
  background-color: #2d81c9;
}

li p {
  margin-left: 0;
}

blockquote {
  margin: 24px 0;
  border-left: 4px solid #ccc;
  padding-left: 24px;
}

blockquote > p:first-child {
  margin-top: -4px;;
}
blockquote > p:last-child {
  margin-bottom: -4px;
}

p cite:only-child:before {
  content: '— '
}
p cite:only-child {
  display: block;
  text-align: right;
}
